* {
    box-sizing: border-box;
}

html {
    color: white;
    background-color: #22303c;
}

body {
    width: 600px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a,
a:visited {
    color: white;
}